<!DOCTYPE html>

<html>

<head>
    <!-- TITLE OF THE PAGE -->
    <title><%=title%></title>

    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/f62c299540.js" crossorigin="anonymous"></script>
    
</head>

<body>
    
    <!-- BODY -->
    <%- body %>

    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="/js/file_viewer.js"></script>

</body>

</html>